.App {
  	text-align: center;
	background-color: #11111b;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(8px + 2vmin);
	color: #cdd6f4;
}

.Link {
  	color: #fab387;
	text-decoration: none;
}

.Link:hover {
	color: #fab387;
  	text-decoration: none;
}

.Link:hover {
	text-decoration: none;
}

.Hero {
	margin: 180px 0 90px 0;
}

.Title {
	color: #94e2d5;
}

.Subtitle {
	color: #7f849c;
}

.Text {
	color: #cdd6f4;
}

.Navbar {
	background-color: #181825;
	color: #cdd6f4;
	
	padding: 10px 7.5%;
	
	font-size: large;
	font-weight: 500;
}

.Search {
	margin-right: 0px;

	padding: 10px;
	
	color: #fab387;
	background-color: #141422;
	
	border-color: #fab387;
	border-radius: 10px 0 0 10px;
	border-style: solid;
	border-width: 2px 1px 2px 2px;

	font-size: large;
	
	height: 40px;
	width: auto;

	outline: none;
}

.Search:hover {
	color: #141422;
	background-color: #fab387;
}

.Search:focus {
	color: #141422;
	background-color: #fab387;
}

.SearchButton {
	color: #141422;
	background-color: #fab387;
	
	border-color: #fab387;
	border-radius: 0 10px 10px 0;
	border-style: solid;
	border-width: 2px;

	font-size: large;
	
	height: 40px;
	width: 40px;
}


.Toggle {
	background-color: #fab387;
	border-color: transparent;
	color: transparent;
}

.Toggle:focus {
	outline: none;
}

.Post {
	width: 75%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	
	width: 100%;
	min-height: 100vh;
	
	font-size: calc(8px + 2vmin);
	
	color: #cdd6f4;
	background-color: #11111b;


}

.PostCard {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	width: 75%;
	height: fit-content;

	margin-top: 7.5rem;
	margin-bottom: 10rem;
	
	background-color: #181825;
}

.PostCardBody {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.PostCardTitle {
	font-size: calc(10px + 2vmin);

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	margin-bottom: 2rem;
}

.PostCardText {
	font-size: calc(10px + 2vmin);

	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;

	width: 90%;
	margin-bottom: 2rem;
}


.Card {
	width: 75%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 15px 0;
	background-color: #181825;
}

.CardBody {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 20px;
}

.Description {
	text-align: start;
}

.Extra {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.Button {
	color: #fab387;
	background-color: #141422;
	
	border-color: #fab387;
	border-radius: 10px;
	border-style: solid;

	font-size: large;
	
	height: 40px;
	width: 100px;
}

.Button:hover {
	color: #141422;
	border-color: #fab387;
	background-color: #fab387;
}


.Image { 
	width: 250px; 
	height: 250px; 
	padding: 10px;
}

.Star {
	width: 20px;
	height: 20px;
}

.Footer {
	width: 75%;
	margin-top: 4rem !important;
	margin-bottom: 1rem !important;
	list-style: none;
	font-size: large;
}

.Footer img {
	width: 35px;
	height: 35px;
}

.Rights {
	margin-top: 40px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.Footer p {
	margin: auto;
}

.List { 
	border-top: #7f849c solid 1px;
	padding-top: 2rem !important;
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly; 
	align-items: center; 
	width: 100%; 
}

.List li {
	list-style: none;
	margin: 0 15px;
}

@media (max-width: 750px) {
	.Hero {
		margin: 90px 0 50px 0;
	}
	
	.Card {
		height: auto;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.Image { 
		width: 200px; 
		height: 200px; 
		padding: 5px;
	}

	.List {
		flex-direction: column;
	}

	.List li {
		margin: 15px 0;
	}

	.SearchBar {
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		margin: 10px 0;
	}
	
	.Search {
		width: 80%;
	}

	.Navbar {
		padding: 6px 5%;
	}
}
